<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.DeviceInfoMapper">

    <!-- 分页获取自习室信息 -->
    <select id="queryDevicePage" resultType="java.util.LinkedHashMap">
        select di.id,
        di.code,
        di.name,
        di.type_id,
        di.images,
        di.content,
        di.model,
        di.brand,
        di.deposit_price,
        di.unit_price,
        di.charge_person,
        di.contact,
        di.status,
        di.out_flag,
        di.supplier_id,
        di.create_date,
        dti.name as typeName,
        dti.images as typeImages,
        ei.name as supplierName,
        ei.corporate_representative_phone as supplierPhone
        from device_info di
        left join device_type_info dti on
        (dti.id = di.type_id)
        left join enterprise_info ei on
        (ei.id = di.supplier_id)
        where 1 = 1
        <if test="deviceInfo.name != null and deviceInfo.name != ''">
            AND di.name LIKE CONCAT('%',#{deviceInfo.name},'%')
        </if>
        <if test="deviceInfo.model != null and deviceInfo.model != ''">
            AND di.model LIKE CONCAT('%',#{deviceInfo.model},'%')
        </if>
        <if test="deviceInfo.typeName != null and deviceInfo.typeName != ''">
            AND dti.name LIKE CONCAT('%',#{deviceInfo.typeName},'%')
        </if>
        order by di.create_date desc
    </select>

    <!-- 获取设备状态信息 -->
    <select id="queryDeviceList" resultType="java.util.LinkedHashMap">
        select di.id,
        di.code,
        di.name,
        di.type_id,
        di.images,
        di.content,
        di.model,
        di.brand,
        di.deposit_price,
        di.unit_price,
        di.charge_person,
        di.contact,
        di.status,
        di.out_flag,
        di.supplier_id,
        di.create_date,
        dti.name as typeName,
        dti.images as typeImages,
        ei.name as supplierName,
        ei.corporate_representative_phone as supplierPhone
        from device_info di
        left join device_type_info dti on
        (dti.id = di.type_id)
        left join enterprise_info ei on
        (ei.id = di.supplier_id)
        where 1 = 1
        <if test="deviceInfo.name != null and deviceInfo.name != ''">
            AND di.name LIKE CONCAT('%',#{deviceInfo.name},'%')
        </if>
        <if test="deviceInfo.model != null and deviceInfo.model != ''">
            AND di.model LIKE CONCAT('%',#{deviceInfo.model},'%')
        </if>
        <if test="deviceInfo.typeName != null and deviceInfo.typeName != ''">
            AND dti.name LIKE CONCAT('%',#{deviceInfo.typeName},'%')
        </if>
        order by di.create_date desc
    </select>

    <!-- 获取当前可用自习室列表 -->
    <select id="queryOnlineDevice" resultType="java.util.LinkedHashMap">
        select di.id,
               di.code,
               di.name,
               di.type_id,
               di.images,
               di.content,
               di.model,
               di.brand,
               di.deposit_price,
               di.unit_price,
               di.charge_person,
               di.contact,
               di.status,
               di.out_flag,
               di.supplier_id,
               di.create_date,
               dti.name as typeName,
               dti.images as typeImages,
               ei.name as supplierName,
               ei.corporate_representative_phone as supplierPhone
        from device_info di
                 left join device_type_info dti on
            (dti.id = di.type_id)
                 left join enterprise_info ei on
            (ei.id = di.supplier_id)
        where 1 = 1
        and di.out_flag = 1
        and di.status = 1
    </select>
</mapper>
